*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
}

/*Start Page*/

.start-page {
  background-image: linear-gradient(0.25turn, #6f93bd, #9c9fa3, #6f93bd);
  height: 100vh;
}

h1 {
  color: #FFEEB7;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
}

h2 {
  color: #FFEEB7;
  font-size: 50px;
  margin-top: 0;
}

.start-screen-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.select-nerds {
  -webkit-text-stroke: .75px black;
  margin-top: 35px;
}

.name-label::before {
  content: "Nerd Name: ";
}

.players {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  text-align: center;
}

label {
  color: #FFEEB7;
  font-size: 30px;
  margin-top: 0;
}

input {
  border-radius: 10px;
  font-size: 22px;
  height: 30px;
  width: 200px;
}

.nerd-img {
  border-radius: 50px;
  height: 150px;
  width: 150px;
}

.play-game-btn {
  background-color: #1C7CAE;
  border-radius: 25px;
  color: #FFEEB7;
  font-size: 30px;
  height: 45px;
  margin-top: 50px;
  width: 200px;
}

.btn-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Main Page*/

/*Header*/
.header-bar {
  align-content: center;
  background-image: linear-gradient(0.25turn, #6f93bd, #9c9fa3, #6f93bd);
  display: flex;
  flex-direction: row;
  height: 60px; 
  justify-content: space-between;
}

.round {
  color: #FFEEB7;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.main-title {
  color: #FFEEB7;
  font-size: 35px;
  margin-top: 10px;
}

.reset-btn {
  background-color: #1C7CAE;
  border-radius: 25px;
  color: #FFEEB7;
  font-size: 20px;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  text-shadow: .5px .5px 1px #fff;
  width: 200px;
}

/*Main*/

.game{
  background-image:linear-gradient(0.25turn, #6f93bd, #9c9fa3, #6f93bd);
  display: grid;
  grid-template-areas: "gameboard" "player";
  grid-template-columns: 1fr;
  padding: 5px;
}

.categories-container{
  display: grid;
  grid-auto-flow: row; 
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 10px;
}

.categories-box{
  background-color: #42649b;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  padding: 20px;
  text-align: center;
}

.box-title {
  font-size: 45px;
  height: 25px;
  margin-bottom: 25px;
}

.questions-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 80px);
}

.box {
  background-color: #1C7CAE;
  border-radius: 5px;
  border: none;
  color: #f0e14a;
}

.player {
  border-radius: 25px;
  height: 100px;
  width: 100px;
}

.player-section {
  background-image: linear-gradient(0.25turn, #6f93bd, #9c9fa3, #6f93bd);
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: space-around;
  margin-top: 0px;
  padding-right: 70px;
  padding-top: 20px;
}

.player-turn {
  background-image: linear-gradient(to top, #57719b, #42649b);
  border-radius: 5px;
  height: 170px;
  padding-left: 10px;
  padding-top: 10px;
  width: 170px;
}

.player-score, 
.player-name,
.name-label {
  color: #FFEEB7;
  font-size: 30px;
  width: 200px;
}

.hidden {
  display: none;
}

.question-used {
  visibility: hidden;
}

.question-display,
.correctAns,
.wrongAns,
.daily-double-prompt {
  background-image: linear-gradient(0.25turn, #6f93bd, #9c9fa3, #6f93bd);
  height: 100vh;
  margin: auto;
}

.question-title {
  color: #FFEEB7;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: none;
}

.wager-button,
.next-question,
.next-turn,
.ans-btn {
  background-color: #1C7CAE;
  border-radius: 25px;
  border: none;
  color: #FFEEB7;
  font-size: 40px;
  height: 200px;
  margin-top: 50px;
  width: 500px;
}

.next-turn {
  width: 650px;
}

.potential-answers {
  max-width: 1418px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.next-btn {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wager-button:hover,
.play-game-btn:hover,
.reset-btn:hover,
.next-question:hover,
.box:hover,
.ans-btn:hover,
.next-turn:hover {
  background-image: linear-gradient(to top, #57719b, #42649b);
  cursor: pointer;
}

.daily-double-prompt {
  background-image: linear-gradient(0.25turn, #6f93bd, #9c9fa3, #6f93bd);
  height: 100vh;
}

.daily-double-prompt {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.daily-double-title {
  -webkit-text-stroke: .75px black;
  font-size: 150px;
}

.image {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image img {
  height: 400px;
  width: 550px;
}